# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

# 1) 10 countries with the lowest infant mortality rates

In [452]:
from xml.etree import ElementTree as ET

In [453]:
document = ET.parse('/Users/yogini/Downloads/data_wrangling_xml/data/mondial_database.xml' )

In [454]:
import pandas as pd
import numpy as np
from collections import OrderedDict

In [455]:
d1=[]
for element in document.iterfind('country'):
    #print '* ' + element.find('name').text + ':',
    if element.find('infant_mortality') is not None:
        d1.append((element.find('name').text, element.find('infant_mortality').text))

In [456]:
p1=pd.DataFrame(d1, columns=('Country', 'Rate'))

In [457]:
p1['Rate']=p1.Rate.astype(np.float)

In [622]:
p1.sort_values(['Rate']).head(10)

            Country  Rate
36           Monaco  1.81
90            Japan  2.13
109         Bermuda  2.48
34           Norway  2.48
98        Singapore  2.53
35           Sweden  2.60
8    Czech Republic  2.63
72        Hong Kong  2.73
73            Macao  3.13
39          Iceland  3.15

# 2) 10 cities with the largest population

In [460]:
name=""
d2=[]
root = document.getroot()
for e in root:
    if (e.tag=='country'):
        name=e.find('name').text
    for c in e:
        if (c.tag == 'population' and c.get('year')=='2011'): 
            d2.append((name,c.text))
    #print(e.tag)+"head"

In [461]:
p2=pd.DataFrame(d2, columns=('Country', 'Population'))

In [462]:
p2['Population']=p2.Population.astype(np.float)

In [463]:
p2.sort_values('Population',ascending=False).head(10)

           Country    Population
37           India  1.210855e+09
73         Nigeria  1.642945e+08
36      Bangladesh  1.497724e+08
10         Germany  8.021970e+07
34            Iran  7.514967e+07
7           France  6.493340e+07
33  United Kingdom  6.318218e+07
12           Italy  5.943374e+07
75    South Africa  5.177056e+07
8            Spain  4.681592e+07

In [465]:
d3=[]
for element in document.iterfind('country'):
    #print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        if ((subelement.find('population')) is not None):
            population=""
            year=0
            for subelement_p in subelement.getiterator('population'):
                    population= subelement_p.text
                    year= subelement_p.get('year')
            d3.append((subelement.find('name').text, population,year))

In [466]:
p3=pd.DataFrame(d3, columns=('City', 'Population','Year'))

In [467]:
p3['Population']=p3.Population.astype(np.float)

In [468]:
p3.sort_values(['Population'],ascending=False).head(10)

           City  Population  Year
1251   Shanghai  22315474.0  2010
707    Istanbul  13710512.0  2012
1421     Mumbai  12442373.0  2011
443      Moskva  11979529.0  2013
1250    Beijing  11716620.0  2010
2594  São Paulo  11152344.0  2010
1252    Tianjin  11090314.0  2010
974   Guangzhou  11071424.0  2010
1467      Delhi  11034555.0  2011
977    Shenzhen  10358381.0  2010

# 3) 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [472]:
d4=[]
for element in document.iterfind('country'):
    capitals_string = ''
    for subelement in element.getiterator('ethnicgroup'):
        if subelement.get('percentage') is not None:
            d4.append((element.find('name').text,subelement.text,subelement.get('percentage')))

In [473]:
p4=pd.DataFrame(d4, columns=('Country', 'EthnicGroup','Percentage'))
p4['Percentage']=p4.Percentage.astype(np.float)
p4.head()

     Country EthnicGroup  Percentage
0    Albania    Albanian        95.0
1    Albania       Greek         3.0
2     Greece       Greek        93.0
3  Macedonia  Macedonian        64.2
4  Macedonia    Albanian        25.2

In [474]:
result = pd.merge(p4, p2,on='Country')
result['ethnic_population']=(result['Percentage']/100)*result['Population']

In [475]:
result1 = result[['ethnic_population', 'EthnicGroup']].copy()

In [476]:
result1[['ethnic_population','EthnicGroup']].groupby(['EthnicGroup'])['ethnic_population'].sum().reset_index(name='sum1').sort_values('sum1',ascending=False).head(10)

             EthnicGroup          sum1
48            Indo-Aryan  8.718156e+08
31             Dravidian  3.027137e+08
0                African  1.663920e+08
16               Bengali  1.467769e+08
42                German  7.427849e+07
33               English  5.282030e+07
62  Mediterranean Nordic  4.681592e+07
75               Persian  3.832633e+07
76                Polish  3.801842e+07
66                Mongol  3.632565e+07

# 4) name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [608]:
name=""
c_code=""
river_length=""
river_name=""
d5=[]
d6=[]
river_src_country=""
root = document.getroot()
for e in root:
    #print e.tag
    if (e.tag=='country'):
        name=e.find('name').text
        c_code= e.get('car_code')
        d5.append((name,c_code))
    if ((e.tag=='river') and (e.find('length') is not None)):
        river_name=e.find('name').text
        river_length=e.find('length').text
        river_src_country=e.find('source')
        river_src_country=river_src_country.get('country')
        river_src_country= river_src_country.split(" ")
        #print 'river:---- '+river_name
        #print "test---"+river_src_country
        d6.append(('River',river_name,river_length,river_src_country[0]))
    if ((e.tag=='lake') and (e.find('area')) is not None):
        lake_name=e.find('name').text
        lake_length=e.find('area').text
        #river_src_country=e.find('source')
        #lake_country=e.getElementsByTagName("located").item(0);
        lake_country=e.find('located')
        #print 'river:---- '+river_name
        #print "test---"+river_src_country
        #print lake_country.items()
        l_country=e.items()
        lake_cty=l_country[0][1].split(" ")
        #print l_country[0][1],lake_name
        #print lake_cty[0]
        d6.append(('lake',lake_name,lake_length,lake_cty[0]))
        #print lake_name,lake_length,lake_country
    if ((e.tag=='airport') and (e.find('elevation')) is not None):
        airport_name=e.find('name').text
        d6.append(('Airport',airport_name,e.find('elevation').text,e.get('country')))

In [609]:
d6

[('River', 'Thjorsa', '230', 'IS'),
 ('River', 'Joekulsa a Fjoellum', '206', 'IS'),
 ('River', 'Glomma', '604', 'N'),
 ('River', 'Lagen', '322', 'N'),
 ('River', 'Goetaaelv', '93', 'S'),
 ('River', 'Klaraelv', '460', 'N'),
 ('River', 'Umeaelv', '470', 'S'),
 ('River', 'Dalaelv', '520', 'S'),
 ('River', 'Vaesterdalaelv', '320', 'S'),
 ('River', 'Oesterdalaelv', '241', 'S'),
 ('River', 'Paatsjoki', '145', 'SF'),
 ('River', 'Ounasjoki', '300', 'SF'),
 ('River', 'Kemijoki', '550', 'SF'),
 ('River', 'Oulujoki', '107', 'SF'),
 ('River', 'Kymijoki', '203', 'SF'),
 ('River', 'Kokemaeenjoki', '121', 'SF'),
 ('River', 'Vuoksi', '162', 'SF'),
 ('River', 'Thames', '346', 'GB'),
 ('River', 'Maas', '925', 'F'),
 ('River', 'Loire', '1013', 'F'),
 ('River', 'Garonne', '647', 'E'),
 ('River', 'Rhone', '812', 'CH'),
 ('River', 'Saone', '480', 'F'),
 ('River', 'Doubs', '453', 'F'),
 ('River', 'Isere', '290', 'F'),
 ('River', 'Seine', '776', 'F'),
 ('River', 'Marne', '514', 'F'),
 ('River', 'Tajo', '1007', 'E'),
 ('River', 'Douro', '897', 'E'),
 ('River', 'Guadiana', '742', 'E'),
 ('River', 'Guadalquivir', '657', 'E'),
 ('River', 'Ebro', '925', 'E'),
 ('River', 'Po', '652', 'I'),
 ('River', 'Ticino', '248', 'CH'),
 ('River', 'Adda', '313', 'I'),
 ('River', 'Mincio', '75', 'I'),
 ('River', 'Etsch', '415', 'I'),
 ('River', 'Tiber', '405', 'I'),
 ('River', 'Arno', '240', 'I'),
 ('River', 'Donau', '2845', 'D'),
 ('River', 'Breg', '45.9', 'D'),
 ('River', 'Brigach', '43', 'D'),
 ('River', 'Iller', '147', 'A'),
 ('River', 'Lech', '264', 'A'),
 ('River', 'Isar', '295', 'A'),
 ('River', 'Ammer', '168', 'D'),
 ('River', u'W\xfcrm', '35', 'D'),
 ('River', 'Inn', '517', 'CH'),
 ('River', 'Alz', '150', 'D'),
 ('River', 'Salzach', '225', 'A'),
 ('River', 'Enns', '254', 'A'),
 ('River', 'March', '358', 'CZ'),
 ('River', 'Raab', '250', 'A'),
 ('River', 'Waag', '403', 'SK'),
 ('River', 'Drau', '749', 'I'),
 ('River', 'Mur', '453', 'A'),
 ('River', 'Theiss', '1308', 'UA'),
 ('River', 'Save', '945', 'SLO'),
 ('River', 'Drina', '346', 'BIH'),
 ('River', 'Tara', '140', 'MNE'),
 ('River', 'Piva', '120', 'MNE'),
 ('River', 'Morava', '185', 'SRB'),
 ('River', 'Western Morava', '308', 'SRB'),
 ('River', 'Southern Morava', '295', 'MK'),
 ('River', 'Olt', '615', 'RO'),
 ('River', 'Pruth', '953', 'UA'),
 ('River', 'Dnjestr', '1352', 'UA'),
 ('River', 'Weser', '440', 'D'),
 ('River', 'Aller', '211', 'D'),
 ('River', 'Leine', '281', 'D'),
 ('River', 'Werra', '292', 'D'),
 ('River', 'Fulda', '221', 'D'),
 ('River', 'Elbe', '1091', 'CZ'),
 ('River', 'Moldau', '440', 'CZ'),
 ('River', 'Rhein', '1324', 'CH'),
 ('River', 'Main', '524', 'D'),
 ('River', 'Mosel', '544', 'F'),
 ('River', 'Saar', '227', 'F'),
 ('River', 'Neckar', '367', 'D'),
 ('River', 'Aare', '288', 'CH'),
 ('River', 'Reuss', '164', 'CH'),
 ('River', 'Limmat', '36.3', 'CH'),
 ('River', 'Oder', '866', 'CZ'),
 ('River', 'Weichsel', '1047', 'PL'),
 ('River', 'Narew', '448', 'BY'),
 ('River', 'Western Bug', '772', 'UA'),
 ('River', 'Moraca', '99.5', 'MNE'),
 ('River', 'Buna', '44', 'AL'),
 ('River', 'Drin', '152', 'AL'),
 ('River', 'White Drin', '175', 'KOS'),
 ('River', 'Black Drin', '133', 'MK'),
 ('River', 'Jordan', '251', 'RL'),
 ('River', 'Kura', '1364', 'TR'),
 ('River', 'Schatt al Arab', '193', 'IRQ'),
 ('River', 'Tigris', '1900', 'TR'),
 ('River', 'Euphrat', '2736', 'TR'),
 ('River', 'Murat', '720', 'TR'),
 ('River', 'Karasu', '720', 'TR'),
 ('River', 'Karun', '950', 'IR'),
 ('River', 'Northern Dwina', '740', 'R'),
 ('River', 'Suchona', '558', 'R'),
 ('River', 'Petschora', '1809', 'R'),
 ('River', 'Newa', '74', 'R'),
 ('River', 'Swir', '224', 'R'),
 ('River', 'Narva', '78', 'R'),
 ('River', 'Western Dwina', '1020', 'R'),
 ('River', 'Dnister', '1352', 'UA'),
 ('River', 'Dnepr', '2201', 'R'),
 ('River', 'Prypjat', '775', 'UA'),
 ('River', 'Don', '1870', 'R'),
 ('River', 'Volga', '3531', 'R'),
 ('River', 'Oka', '1480', 'R'),
 ('River', 'Kama', '1805', 'R'),
 ('River', 'Ural', '2428', 'R'),
 ('River', 'Ob', '3650', 'R'),
 ('River', 'Irtysch', '4248', 'KAZ'),
 ('River', 'Tobol', '1591', 'R'),
 ('River', 'Ischim', '2450', 'KAZ'),
 ('River', 'Katun', '688', 'R'),
 ('River', 'Jenissej', '4092', 'R'),
 ('River', 'Angara', '1779', 'R'),
 ('River', 'Selenge', '992', 'MNG'),
 ('River', 'Chatanga', '1636', 'R'),
 ('River', 'Lena', '4400', 'R'),
 ('River', 'Amur', '2824', 'R'),
 ('River', 'Schilka', '560', 'R'),
 ('River', 'Argun', '1620', 'CN'),
 ('River', 'Kolyma', '2129', 'R'),
 ('River', 'Syrdarja', '2129', 'TAD'),
 ('River', 'Naryn', '807', 'KGZ'),
 ('River', 'Amudarja', '1415', 'AFG'),
 ('River', 'Pjandsh', '1141', 'AFG'),
 ('River', 'Bartang', '133', 'TAD'),
 ('River', 'Murgab', '395', 'TAD'),
 ('River', 'Ili', '1001', 'CN'),
 ('River', 'Tarim-Yarkend', '3260', 'CN'),
 ('River', 'Hwangho', '4845', 'CN'),
 ('River', 'Jangtse', '6380', 'CN'),
 ('River', 'Mekong', '4350', 'CN'),
 ('River', 'Saluen', '2980', 'CN'),
 ('River', 'Irawaddy', '2170', 'CN'),
 ('River', 'Ganges', '2511', 'CN'),
 ('River', 'Brahmaputra', '2896', 'CN'),
 ('River', 'Indus', '3180', 'CN'),
 ('River', 'Asahan', '150', 'RI'),
 ('River', 'Yukon River', '3185', 'CDN'),
 ('River', 'Mackenzie River', '1903', 'CDN'),
 ('River', 'Nelson River', '664', 'CDN'),
 ('River', 'Saskatchewan River', '1392', 'CDN'),
 ('River', 'Saint Lawrence River', '1197', 'CDN'),
 ('River', 'Niagara River', '58', 'CDN'),
 ('River', 'Detroit River', '200', 'CDN'),
 ('River', 'Saint Marys River', '120', 'CDN'),
 ('River', 'Straits of Mackinac', '0.1', 'USA'),
 ('River', 'Manicouagan', '560', 'CDN'),
 ('River', 'Riviere Richelieu', '124', 'CDN'),
 ('River', 'Merrimack River', '177', 'USA'),
 ('River', 'Connecticut River', '655', 'USA'),
 ('River', 'Hudson River', '493', 'USA'),
 ('River', 'Mississippi', '3778', 'USA'),
 ('River', 'Missouri', '4130', 'USA'),
 ('River', 'Arkansas', '2334', 'USA'),
 ('River', 'Ohio River', '1579', 'USA'),
 ('River', 'Allegheny River', '523', 'USA'),
 ('River', 'Tennessee', '1049', 'USA'),
 ('River', 'Columbia River', '1953', 'CDN'),
 ('River', 'Truckee River', '225', 'USA'),
 ('River', 'Colorado', '2330', 'USA'),
 ('River', 'Rio Grande', '3034', 'USA'),
 ('River', 'Rio Lerma', '965', 'MEX'),
 ('River', 'Rio San Juan', '199', 'NIC'),
 ('River', 'Rio Desaguadero', '383', 'BOL'),
 ('River', 'Rio Magdalena', '1538', 'CO'),
 ('River', 'Orinoco', '2140', 'YV'),
 ('River', 'Amazonas', '6448', 'PE'),
 ('River', 'Rio Negro', '2253', 'CO'),
 ('River', 'Rio Madeira', '1450', 'BOL'),
 ('River', 'Rio Mamore', '1931', 'BOL'),
 ('River', 'Tocantins', '2640', 'BR'),
 ('River', 'Rio Sao Francisco', '2830', 'BR'),
 ('River', 'Parana', '3998', 'BR'),
 ('River', 'Paraguay', '2549', 'BR'),
 ('River', 'Uruguay', '1790', 'BR'),
 ('River', 'Gambia', '1120', 'RG'),
 ('River', 'Senegal', '1430', 'RG'),
 ('River', 'Volta', '1500', 'BF'),
 ('River', 'Niger', '4184', 'RG'),
 ('River', 'Bani', '430', 'CI'),
 ('River', 'Benue', '1400', 'CAM'),
 ('River', 'Schari', '1400', 'RCA'),
 ('River', 'Atbara', '1120', 'ETH'),
 ('River', 'Blue Nile', '1783', 'ETH'),
 ('River', 'Sobat', '740', 'SSD'),
 ('River', 'Pibor', '320', 'SSD'),
 ('River', 'Baro', '306', 'ETH'),
 ('River', 'Bahr el-Ghasal', '716', 'SSD'),
 ('River', 'Semliki', '230', 'ZRE'),
 ('River', 'Akagera', '275', 'RWA'),
 ('River', 'Jubba', '1658', 'ETH'),
 ('River', 'Shabelle', '1820', 'ETH'),
 ('River', 'Sanaga', '918', 'CAM'),
 ('River', 'Zaire', '4374', 'ZRE'),
 ('River', 'Sanga', '530', 'RCA'),
 ('River', 'Ubangi', '1120', 'RCA'),
 ('River', 'Bomu', '280', 'RCA'),
 ('River', 'Uelle', '1130', 'ZRE'),
 ('River', 'Kwa', '100', 'ZRE'),
 ('River', 'Fimi', '200', 'ZRE'),
 ('River', 'Lukenie', '900', 'ZRE'),
 ('River', 'Kasai', '1983', 'ANG'),
 ('River', 'Cuango', '1100', 'ANG'),
 ('River', 'Cuilo', '970', 'ANG'),
 ('River', 'Ruki', '130', 'ZRE'),
 ('River', 'Busira', '830', 'ZRE'),
 ('River', 'Tshuapa', '1300', 'ZRE'),
 ('River', 'Lulua', '970', 'ZRE'),
 ('River', 'Lomami', '1450', 'ZRE'),
 ('River', 'Aruwimi', '1287', 'ZRE'),
 ('River', 'Lukuga', '350', 'ZRE'),
 ('River', 'Ruzizi', '104', 'ZRE'),
 ('River', 'Luvua', '350', 'ZRE'),
 ('River', 'Luapula', '300', 'Z'),
 ('River', 'Zambezi', '2574', 'Z'),
 ('River', 'Chire', '402', 'MW'),
 ('River', 'Okavango', '1700', 'ANG'),
 ('River', 'Limpopo', '1750', 'RSA'),
 ('River', 'Oranje', '2160', 'LS'),
 ('River', 'Vaal', '1251', 'RSA'),
 ('River', 'Murray River', '2589', 'AUS'),
 ('River', 'Darling River', '2739', 'AUS'),
 ('River', 'Murrumbidgee River', '1579', 'AUS'),
 ('River', 'Eucumbene River', '83', 'AUS'),
 ('River', 'Snowy River', '403', 'AUS'),
 ('lake', 'Inari', '1040', 'SF'),
 ('lake', 'Oulujaervi', '928', 'SF'),
 ('lake', 'Kallavesi', '472', 'SF'),
 ('lake', 'Saimaa', '4370', 'SF'),
 ('lake', 'Paeijaenne', '1118', 'SF'),
 ('lake', 'Mjoesa-See', '368', 'N'),
 ('lake', 'Storuman', '173', 'S'),
 ('lake', 'Siljan', '290', 'S'),
 ('lake', 'Maelaren', '1140', 'S'),
 ('lake', 'Vaenern', '5648', 'S'),
 ('lake', 'Vaettern', '1900', 'S'),
 ('lake', 'Arresoe', '40.2', 'DK'),
 ('lake', 'Loch Ness', '56', 'GB'),
 ('lake', 'Loch Lomond', '71', 'GB'),
 ('lake', 'Bodensee', '538.5', 'A'),
 ('lake', 'Chiemsee', '80', 'D'),
 ('lake', 'Starnberger See', '56.36', 'D'),
 ('lake', 'Ammersee', '46.6', 'D'),
 ('lake', 'Laacher Maar', '3.3', 'D'),
 ('lake', 'Lac Leman', '581', 'F'),
 ('lake', 'Zurichsee', '88', 'CH'),
 ('lake', 'Thunersee', '48.3', 'CH'),
 ('lake', 'Brienzersee', '29.8', 'CH'),
 ('lake', 'Vierwaldstattersee', '113.7', 'CH'),
 ('lake', 'Lago Maggiore', '216', 'I'),
 ('lake', 'Lago di Como', '146', 'I'),
 ('lake', 'Lago di Garda ', '370', 'I'),
 ('lake', 'Lago Trasimeno', '128', 'I'),
 ('lake', 'Lago di Bolsena', '114', 'I'),
 ('lake', 'Lago di Bracciano', '57', 'I'),
 ('lake', 'Laguna de Gallocanta', '14.4', 'E'),
 ('lake', 'Neusiedlersee', '320', 'A'),
 ('lake', 'Balaton', '594', 'H'),
 ('lake', 'Lake Skutari', '368', 'AL'),
 ('lake', 'Lake Prespa', '273', 'AL'),
 ('lake', 'Lake Ohrid', '367', 'AL'),
 ('lake', 'Kiev Reservoir', '922', 'UA'),
 ('lake', 'Kakhovka Reservoir', '2155', 'UA'),
 ('lake', 'Kremenchuk Reservoir', '2252', 'UA'),
 ('lake', 'Kuybyshev Reservoir', '6450', 'R'),
 ('lake', 'Ozero Ladoga', '18400', 'R'),
 ('lake', 'Ozero Onega', '9.616', 'R'),
 ('lake', 'Ozero Pskovskoje', '3555', 'R'),
 ('lake', 'Ozero Baikal', '31492', 'R'),
 ('lake', 'Ozero Taimyr', '4560', 'R'),
 ('lake', 'Ozero Chanka', '4400', 'R'),
 ('lake', 'Ozero Tschany', '2500', 'R'),
 ('lake', 'Dead Sea', '41650', 'IL'),
 ('lake', 'Lake Genezareth', '165', 'IL'),
 ('lake', 'Lake Van', '3740', 'TR'),
 ('lake', 'Lake Keban', '675', 'TR'),
 ('lake', 'Lake Urmia', '5470', 'IR'),
 ('lake', 'Daryacheh ye Namak', '1800', 'IR'),
 ('lake', 'Hamun e Jaz Murian', '1600', 'IR'),
 ('lake', 'Caspian Sea', '386400', 'R'),
 ('lake', 'Ozero Aral', '17160', 'UZB'),
 ('lake', 'Ozero Balchash', '18428', 'KAZ'),
 ('lake', 'Issyk-Kul', '6236', 'KGZ'),
 ('lake', 'Koli Sarez', '80', 'TAD'),
 ('lake', 'Lop Nor', '5000', 'CN'),
 ('lake', 'Laguna de Bay', '911', 'RP'),
 ('lake', 'Lake Toba', '1103', 'RI'),
 ('lake', 'Segara Anak', '11.3', 'RI'),
 ('lake', 'Qinghai Lake', '4583', 'CN'),
 ('lake', 'Nam Co', '1855', 'CN'),
 ('lake', 'Lake Nasser', '5250', 'ET'),
 ('lake', 'Lake Volta', '8502', 'GH'),
 ('lake', 'Lake Bosumtwi', '49', 'GH'),
 ('lake', 'Lake Kainji', '1243', 'WAN'),
 ('lake', 'Chad Lake', '23000', 'RN'),
 ('lake', 'Lac Assal', '54', 'DJI'),
 ('lake', 'Lake Abbe', '320', 'DJI'),
 ('lake', 'Lake Abaya', '1285', 'ETH'),
 ('lake', 'Chew Bahir', '800', 'ETH'),
 ('lake', 'Lake Turkana', '6405', 'ETH'),
 ('lake', 'Lake Tana', '3000', 'ETH'),
 ('lake', 'Lake Sese Seko/Albertsee', '5347', 'EAU'),
 ('lake', 'Rutanzige/Eduardsee', '2325', 'ZRE'),
 ('lake', 'Lake Kioga', '1720', 'EAU'),
 ('lake', 'Lake Victoria', '68870', 'EAT'),
 ('lake', 'Lake Kivu', '2650', 'ZRE'),
 ('lake', 'Lake Tanganjika', '32893', 'ZRE'),
 ('lake', 'Lake Mweru', '5120', 'ZRE'),
 ('lake', 'Lake Bangweulu', '10000', 'Z'),
 ('lake', 'Lake Rukwa', '5760', 'EAT'),
 ('lake', 'Lake Eyasi', '1050', 'EAT'),
 ('lake', 'Lake Natron', '1040', 'EAT'),
 ('lake', 'Lake Malawi', '29600', 'MW'),
 ('lake', 'Lake Chilwa', '687', 'MW'),
 ('lake', 'Lake Mai Ndombe', '8200', 'ZRE'),
 ('lake', 'Malebo Pool', '500', 'RCB'),
 ('lake', 'Lake Cabora-Bassa', '2800', 'MOC'),
 ('lake', 'Lake Kariba', '5580', 'Z'),
 ('lake', 'Lake Ngami', '770', 'RB'),
 ('lake', 'Etoscha Salt Pan', '6133', 'NAM'),
 ('lake', 'Makarikari Salt Pan', '12000', 'RB'),
 ('lake', 'Great Bear Lake', '31792', 'CDN'),
 ('lake', 'Great Slave Lake', '28568', 'CDN'),
 ('lake', 'Atlin Lake', '798', 'CDN'),
 ('lake', 'Lake Winnipeg', '24420', 'CDN'),
 ('lake', 'Lake Nipigon', '4848', 'CDN'),
 ('lake', 'Lake Manicouagan', '1942', 'CDN'),
 ('lake', 'Lake Ontario', '18960', 'CDN'),
 ('lake', 'Lake Erie', '25745', 'CDN'),
 ('lake', 'Lake Huron', '59600', 'CDN'),
 ('lake', 'Lake Manitou', '104', 'CDN'),
 ('lake', 'Lake Michigan', '57800', 'USA'),
 ('lake', 'Lake Superior', '82103', 'CDN'),
 ('lake', 'Lake Champlain', '1130 ', 'USA'),
 ('lake', 'Lake Winnipesaukee', '186', 'USA'),
 ('lake', 'Lake Okeechobee', '1890', 'USA'),
 ('lake', 'Kentucky Lake', '648', 'USA'),
 ('lake', 'Chickamauga Lake', '147', 'USA'),
 ('lake', 'Franklin. D. Roosevelt Lake', '337', 'USA'),
 ('lake', 'Crater Lake', '53.2', 'USA'),
 ('lake', 'Great Salt Lake', '4400', 'USA'),
 ('lake', 'Lake Tahoe', '497', 'USA'),
 ('lake', 'Pyramid Lake', '487', 'USA'),
 ('lake', 'Lake Powell', '645', 'USA'),
 ('lake', 'Lake Mead', '640', 'USA'),
 ('lake', 'Fort Peck Lake', '981', 'USA'),
 ('lake', 'Lake Sakakawea', '1578', 'USA'),
 ('lake', 'Lake Oahe', '1453', 'USA'),
 ('lake', 'Lago de Chapala', '1685', 'MEX'),
 ('lake', 'Lake Nicaragua', '8157', 'NIC'),
 ('lake', 'Lake Managua', '1035', 'NIC'),
 ('lake', 'Lake Irazu', '1', 'CR'),
 ('lake', 'Lake Maracaibo', '13000', 'YV'),
 ('lake', 'Lago de Sobradinho', '4214', 'BR'),
 ('lake', 'Lake Titicaca', '8372', 'BOL'),
 ('lake', 'Poopo', '1340', 'BOL'),
 ('lake', 'Salar de Uyuni', '10582', 'BOL'),
 ('lake', 'Licancabur Crater Lake', '0.005', 'RCH'),
 ('lake', 'Laguna Mar Chiquita', '5770', 'RA'),
 ('lake', 'Lake Eyre', '9500', 'AUS'),
 ('lake', 'Lake Burley Griffin', '6.64', 'AUS'),
 ('lake', 'Lake Eucumbene', '145', 'AUS'),
 ('lake', 'Lake Jindabyne', '30', 'AUS'),
 ('lake', 'Lake Hume', '202', 'AUS'),
 ('Airport', 'Herat', '977', 'AFG'),
 ('Airport', 'Kabul Intl', '1792', 'AFG'),
 ('Airport', 'Tirana Rinas', '38', 'AL'),
 ('Airport', 'Cheikh Larbi Tebessi', '811', 'DZ'),
 ('Airport', 'Batna Airport', '822', 'DZ'),
 ('Airport', 'Soummam', '6', 'DZ'),
 ('Airport', 'Tamanrasset', '1377', 'DZ'),
 ('Airport', 'Biskra', '88', 'DZ'),
 ('Airport', 'Mohamed Boudiaf Intl', '691', 'DZ'),
 ('Airport', 'Ain Arnat Airport', '1024', 'DZ'),
 ('Airport', 'Es Senia', '90', 'DZ'),
 ('Airport', 'Noumerat', '461', 'DZ'),
 ('Airport', 'Annaba', '5', 'DZ'),
 ('Airport', 'Houari Boumediene', '25', 'DZ'),
 ('Airport', 'Zenata', '248', 'DZ'),
 ('Airport', 'Pago Pago Intl', '10', 'AMSA'),
 ('Airport', 'Lubango', '1762', 'ANG'),
 ('Airport', 'Cabinda', '20', 'ANG'),
 ('Airport', 'Menongue', '1363', 'ANG'),
 ('Airport', 'Luanda 4 De Fevereiro', '74', 'ANG'),
 ('Airport', 'Huambo', '1703', 'ANG'),
 ('Airport', 'Wallblake', '39', 'AXA'),
 ('Airport', 'V C Bird Intl', '19', 'AG'),
 ('Airport', 'La Rioja', '438', 'RA'),
 ('Airport', 'Jujuy', '920', 'RA'),
 ('Airport', 'Comandante Espora', '75', 'RA'),
 ('Airport', 'Teniente Benjamin Matienzo', '456', 'RA'),
 ('Airport', 'San Luis', '710', 'RA'),
 ('Airport', 'Santiago del Estero', '200', 'RA'),
 ('Airport', 'Sauce Viejo', '17', 'RA'),
 ('Airport', 'Corrientes', '62', 'RA'),
 ('Airport', 'Presidente Peron', '273', 'RA'),
 ('Airport', 'Salta', '1246', 'RA'),
 ('Airport', 'Aeroparque Jorge Newbery', '5', 'RA'),
 ('Airport', 'Ministro Pistarini', '20', 'RA'),
 ('Airport', 'Ushuaia Malvinas Argentinas', '22', 'RA'),
 ('Airport', 'Formosa', '59', 'RA'),
 ('Airport', 'Posadas', '131', 'RA'),
 ('Airport', 'Rosario', '26', 'RA'),
 ('Airport', 'Resistencia', '53', 'RA'),
 ('Airport', 'Rio Gallegos', '19', 'RA'),
 ('Airport', 'Comodoro Rivadavia', '58', 'RA'),
 ('Airport', 'Mar Del Plata', '22', 'RA'),
 ('Airport', 'El Plumerillo', '704', 'RA'),
 ('Airport', 'Ambrosio L V Taravella', '489', 'RA'),
 ('Airport', 'Zvartnots', '865', 'ARM'),
 ('Airport', 'Reina Beatrix Intl', '18', 'ARU'),
 ('Airport', 'Melbourne Intl', '132', 'AUS'),
 ('Airport', 'Sydney Intl', '6', 'AUS'),
 ('Airport', 'Cairns Intl', '3', 'AUS'),
 ('Airport', 'Townsville', '5', 'AUS'),
 ('Airport', 'Brisbane Intl', '4', 'AUS'),
 ('Airport', 'Canberra', '575', 'AUS'),
 ('Airport', 'Adelaide Intl', '6', 'AUS'),
 ('Airport', 'Newcastle Airport', '9', 'AUS'),
 ('Airport', 'Darwin Intl', '31', 'AUS'),
 ('Airport', 'Perth Intl', '20', 'AUS'),
 ('Airport', 'Hobart', '4', 'AUS'),
 ('Airport', 'Salzburg', '430', 'A'),
 ('Airport', 'Linz', '298', 'A'),
 ('Airport', 'Innsbruck', '581', 'A'),
 ('Airport', 'Schwechat', '183', 'A'),
 ('Airport', 'Graz', '340', 'A'),
 ('Airport', 'Woerthersee International Airport', '138', 'A'),
 ('Airport', 'Heydar Aliyev', '3', 'AZ'),
 ('Airport', 'Lynden Pindling Intl', '5', 'BS'),
 ('Airport', 'Bahrain Intl', '2', 'BRN'),
 ('Airport', 'Zia Intl', '9', 'BD'),
 ('Airport', 'Shah Amanat Intl', '4', 'BD'),
 ('Airport', 'Grantley Adams Intl', '52', 'BDS'),
 ('Airport', 'Minsk 2', '204', 'BY'),
 ('Airport', 'Deurne', '12', 'B'),
 ('Airport', 'Brussels South', '187', 'B'),
 ('Airport', u'A\xe9roport de Li\xe8ge', '201', 'B'),
 ('Airport', 'Brussels Natl', '56', 'B'),
 ('Airport', 'Philip S W Goldson Intl', '5', 'BZ'),
 ('Airport', 'Cadjehoun', '6', 'BEN'),
 ('Airport', 'Bermuda Intl', '4', 'BERM'),
 ('Airport', 'Paro', '2235', 'BHT'),
 ('Airport', 'Heroes Del Acre', '272', 'BOL'),
 ('Airport', 'El Alto Intl', '4063', 'BOL'),
 ('Airport', 'Viru Viru Intl', '373', 'BOL'),
 ('Airport', 'Juana Azurduy De Padilla', '2905', 'BOL'),
 ('Airport', 'Tte Av Jorge Henrich Arauz', '155', 'BOL'),
 ('Airport', 'Capitan Oriel Lea Plaza', '1855', 'BOL'),
 ('Airport', 'Jorge Wilsterman', '2549', 'BOL'),
 ('Airport', 'Sarajevo', '521', 'BIH'),
 ('Airport', 'Sir Seretse Khama Intl', '1006', 'RB'),
 ('Airport', 'Guararapes Gilberto Freyre Intl', '10', 'BR'),
 ('Airport', 'Presidente Juscelino Kubitschek', '1061', 'BR'),
 ('Airport', 'Boa Vista', '84', 'BR'),
 ('Airport', 'Ten Cel Av Cesar Bombonato', '943', 'BR'),
 ('Airport', 'Zumbi Dos Palmares', '118', 'BR'),
 ('Airport', 'Macapa', '17', 'BR'),
 ('Airport', 'Eduardo Gomes Intl', '80', 'BR'),
 ('Airport', 'Goiabeiras', '3', 'BR'),
 ('Airport', 'Afonso Pena', '911', 'BR'),
 ('Airport', 'Santarem', '60', 'BR'),
 ('Airport', 'Londrina', '569', 'BR'),
 ('Airport', 'Marechal Rondon', '188', 'BR'),
 ('Airport', 'Campo Grande', '559', 'BR'),
 ('Airport', 'Congonhas', '802', 'BR'),
 ('Airport', 'Santos Dumont', '3', 'BR'),
 ('Airport', 'Deputado Luis Eduardo Magalhaes', '20', 'BR'),
 ('Airport', 'Tancredo Neves Intl', '828', 'BR'),
 ('Airport', 'Marechal Cunha Machado Intl', '54', 'BR'),
 ('Airport', 'Amarais Airport', '612', 'BR'),
 ('Airport', 'Viracopos', '662', 'BR'),
 ('Airport', 'Santa Maria', '7', 'BR'),
 ('Airport', 'Uberaba', '809', 'BR'),
 ('Airport', 'Val De Cans Intl', '16', 'BR'),
 ('Airport', 'Senador Petronio Portella', '67', 'BR'),
 ('Airport', 'Augusto Severo', '52', 'BR'),
 ('Airport', 'Pelotas', '18', 'BR'),
 ('Airport', 'Leite Lopes', '549', 'BR'),
 ('Airport', 'General Leite de Castro Airport', '684', 'BR'),
 ('Airport', 'Governador Valadares Airport', '171', 'BR'),
 ('Airport', 'Usiminas', '239', 'BR'),
 ('Airport', 'Campo Dos Bugres', '754', 'BR'),
 ('Airport', 'Galeao Antonio Carlos Jobim', '9', 'BR'),
 ('Airport', 'Pinto Martins Intl', '25', 'BR'),
 ('Airport', 'Pampulha Carlos Drummond De Andrade', '789', 'BR'),
 ('Airport', 'Governador Jorge Teixeira De Oliveira', '90', 'BR'),
 ('Airport', 'Santa Genoveva', '747', 'BR'),
 ('Airport', 'Salgado Filho', '3', 'BR'),
 ('Airport', 'Guarulhos Gov Andre Franco Montouro', '750', 'BR'),

In [610]:
p5=pd.DataFrame(d5, columns=('Country', 'Country_code'))
p6=pd.DataFrame(d6, columns=('Type','Name','Attribute', 'Country_code'))

p6['Attribute']=p6.Attribute.astype(np.float)
p5.head()

      Country Country_code
0     Albania           AL
1      Greece           GR
2   Macedonia           MK
3      Serbia          SRB
4  Montenegro          MNE

In [611]:
merge_d = pd.merge(p5, p6,on='Country_code')
p6.head()

    Type                 Name  Attribute Country_code
0  River              Thjorsa      230.0           IS
1  River  Joekulsa a Fjoellum      206.0           IS
2  River               Glomma      604.0            N
3  River                Lagen      322.0            N
4  River            Goetaaelv       93.0            S

In [604]:
merge_d[merge_d['Name']=='Glomma']

    Country Country_code   Type    Name  Attribute
152  Norway            N  River  Glomma      604.0

In [620]:
merge_d.groupby('Type')['Attribute'].max().reset_index(name='MAX_value')#.sort_values('MAX_value',ascending=False).head(10)

      Type  MAX_value
0  Airport     4063.0
1    River     6448.0
2     lake   386400.0

In [619]:
merge_d.groupby('Type')['Attribute'].max()

Type
Airport      4063.0
River        6448.0
lake       386400.0
Name: Attribute, dtype: float64