In [47]:
%matplotlib inline
import pandas as pd

In [48]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [49]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4               Gaiking II  2011

In [50]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [51]:
cast.title.count()

3712480

In [52]:
len(cast.title)

3712480

### What are the earliest two films listed in the titles dataframe?

In [53]:
cast.year.sort_values().head(2)

2583423    1894
570748     1894
Name: year, dtype: int64

In [54]:
titles.sort('year').head(2)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                     title  year
179253          Miss Jerry  1894
217115  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [55]:
len(titles[titles.title=='Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [56]:
len(titles[titles.title=='North by Northwest'])

1

In [57]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4               Gaiking II  2011

### When was the first movie titled "Hamlet" made?

In [58]:
titles[titles.title=='Hamlet'].sort('year').head(1)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        title  year
47190  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [59]:
titles[titles.title=='Treasure Island'].sort('year')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                  title  year
207812  Treasure Island  1918
51774   Treasure Island  1920
192663  Treasure Island  1934
97744   Treasure Island  1950
90312   Treasure Island  1972
112348  Treasure Island  1973
207170  Treasure Island  1985
180869  Treasure Island  1999

### How many movies were made in the year 1950?

In [62]:
len(titles[titles.year==1950])

1108

### How many movies were made in the year 1960?

In [63]:
len(titles[titles.year==1960])

1522

### How many movies were made from 1950 through 1959?

In [68]:
len(titles[(titles.year>=1950) & (titles.year<=1959)])

12838

### In what years has a movie titled "Batman" been released?

In [71]:
titles[titles.title=='Batman'].year

56540    1989
75242    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [75]:
len(cast[cast.title=='Inception'].name)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [77]:
len(cast[(cast.title=='Inception') & (cast.n.isnull())])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [79]:
c

51

In [ ]:
cast.n.no

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [91]:
cast[(cast.title=='North by Northwest') & (cast.n.notnull())].sort('n')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
862704,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3454870,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1442245,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3107584,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
353161,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3003291,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1678037,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1262029,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2421978,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1792870,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
659151,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2272099,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
460129,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1493027,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
204270,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1370444,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [102]:
cast[(cast.title=='Sleuth') & (cast.year==1972)].sort('n')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
1688044,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
323425,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
370204,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1450432,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2691119,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1433847,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [92]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [108]:
cast[(cast.title=='Sleuth') & (cast.year==2007)].sort('n')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

          title  year                 name     type          character    n
323426   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1280164  Sleuth  2007             Jude Law    actor               Milo  2.0
1787459  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
257450   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
370205   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2691118  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3312638  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [112]:
len(cast[(cast.title=='Hamlet') & (cast.year==1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [114]:
len(cast[(cast.title=='Hamlet') & (cast.year==1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

In [122]:
len(cast[(cast.title=='Hamlet') & (cast.year==1921)].name.unique())

9

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

In [124]:
len(cast[cast.name=='Sidney Poitier'])

43

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [128]:
cast[(cast.name =='Cary Grant') & (cast.n==2) & (cast.year//10==194)]

                   title  year        name   type    character    n
862701  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
862711    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [127]:
cast[c]

,title,year,name,type,character,n
303,Kampen om tungtvannet,1948,Andreas Aabel,actor,Kasper Idland - fenrik,8.0
310,Den farlige leken,1942,Per Aabel,actor,"Fredrik Holm, doktor",NaN
311,En herre med bart,1942,Per Aabel,actor,"Ole Grong, advokat",1.0
361,Villmarkens lov,1944,Karl Aagard ?stvig,actor,Den nye oppasseren,6.0
458,Ristikon varjossa,1945,Heikki Aaltoila,actor,Musician,NaN
469,Jumalan myrsky,1940,Kosti Aaltonen,actor,Jussi Metelinen,13.0
471,Rosvo Roope,1949,Kosti Aaltonen,actor,Driver,23.0
472,"Soita minulle, Helena!",1948,Kosti Aaltonen,actor,Oskari,7.0
473,Suurin voitto,1944,Kosti Aaltonen,actor,Lumberjack,NaN
474,Tuhottu nuoruus,1947,Kosti Aaltonen,actor,Kivinen,20.0
475,Tuomari Martta,1943,Kosti Aaltonen,actor,Juror,NaN
476,Varaventtiili,1942,Kosti Aaltonen,actor,Per?l?,19.0
618,Rose of Santa Rosa,1947,Aaron Gonzales' Orchestra,actor,Orchestra,11.0
647,Do You Love Me,1946,Charles Aaron,actor,Dancer,NaN
648,Do You Love Me,1946,Charles Aaron,actor,Sailor,NaN
833,Sankt Hans fest,1947,Henrik Aasekj?r,actor,Brennevinshandleren,31.0
881,Kartanon naiset,1944,Kaarlo Aavajoki,actor,Aarne Mustonen,11.0
882,Kolmastoista koputus,1945,Kaarlo Aavajoki,actor,Grisu,17.0
883,Miehen vankina,1943,Kaarlo Aavajoki,actor,Restaurant owner,13.0
885,Valkoisen neilikan velho,1945,Kaarlo Aavajoki,actor,Romsu,10.0
1027,Gilda,1946,Julio Abad?a,actor,Newsman,NaN
1028,Gilda,1946,Julio Abad?a,actor,Waiter,NaN
1029,Perilous Holiday,1946,Julio Abad?a,actor,Desk Clerk,NaN
1031,The Walls Came Tumbling Down,1946,Julio Abad?a,actor,Carlo - Artist,NaN
1537,Anarbala,1940,Abbas (II),actor,Prince Mansingh,14.0
1542,Action in Arabia,1944,Abdullah Abbas,actor,Arab Guard,NaN
1543,Adventures of Don Juan,1948,Abdullah Abbas,actor,Townsman,NaN
1545,Angel in Exile,1948,Abdullah Abbas,actor,Undetermined Role,NaN
1553,Charlie Chan in Rio,1941,Abdullah Abbas,actor,Police Officer,NaN
1569,Sons of Adventure,1948,Abdullah Abbas,actor,Baldy,NaN
...,...,...,...,...,...,...
3711457,Kristin kommenderar,1946,Inga-Lill ?hstr?m,actress,Patient,NaN
3711458,Resan bort,1945,Inga-Lill ?hstr?m,actress,Nurse,NaN
3711479,Eva,1948,Britt ?ngstr?m,actress,Girl on the Meadow,NaN
3711481,Ungdom i fara,1946,Britt ?ngstr?m,actress,Tony,NaN
3711661,La grande meute,1945,Paulette ?lambert,actress,Laurette,NaN
3711663,La nuit de Sybille,1947,Paulette ?lambert,actress,Sibylle,1.0
3711664,La route du bagne,1945,Paulette ?lambert,actress,La P?lotte,4.0
3711666,Les Roquevillard,1943,Paulette ?lambert,actress,Marguerite Roquevillard,7.0
3711668,Vire-vent,1949,Paulette ?lambert,actress,La troisi?me fille,3.0
3711677,Cuando los padres se quedan solos,1949,Dalia ??iguez,actress,Sofia Cifuentes,4.0
3711679,El ropavejero,1947,Dalia ??iguez,actress,Olga,3.0
3711683,La oveja negra,1949,Dalia ??iguez,actress,Bibiana,4.0
3711693,Zorina,1949,Dalia ??iguez,actress,Constanza,5.0
3711731,Utamaro o meguru gonin no onna,1946,Eiko ?hara,actress,Yukie,7.0
3711932,Sazae-san: Nanakorobi-yaoki no maki,1948,Chiharu ?tomo,actress,Theater executive,13.0
3711939,Haru no mezame,1947,Yumiko ?tori,actress,Schoogirl,NaN
3711943,Nobuko,1940,Kimiyo ?tsuka,actress,Iwasaki,NaN
3711964,Havets son,1949,Brita ?berg,actress,Waitress at Hotel Lofoten,NaN
3711965,Kristin kommenderar,1946,Brita ?berg,actress,Cleaning Lady,NaN
3712008,Johansson och Vestman,1946,Birgitta ?ijen,actress,Waitress,NaN
3712009,Kungajakt,1944,Birgitta ?ijen,actress,Chambermaid,NaN
3712010,Lille Napoleon,1943,Birgitta ?ijen,actress,"Greta, Klint's Housemaid",NaN
3712037,Makacs Kata,1943,Zs?ka ?lvedy,actress,Terka,8.0
3712072,Blyge Anton,1940,Susanna ?stberg,actress,Karin,NaN
3712073,Den ljusnande framtid,1941,Susanna ?stberg,actress,Dancing Girl,NaN
3712310,Jeg drepte!,1942,Synn?ve ?ian,actress,"Berit, sykes?ster",10.0
3712357,Sangen til livet,1943,Ragnhild ?sterbye,actress,"Laura, hans kone",11.0
3712363,Villmarkens lov,1944,Manina ?stvig,actress,Oppasserens hustru,8.0
3712365,En ganske almindelig pige,1940,Clara ?st?,actress,Frk. Stjerneborg,6.0
3712370,Tante Cramers testamente,1941,Clara ?st?,actress,Husassistent Erna Nielsen,12.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

In [133]:
len(cast[(cast.year//10==195) & (cast.type=='actor')])

157065

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?